In [2]:
import nolds
import numpy as np
import pandas as pd
from scipy.stats import entropy

In [3]:
df = pd.read_csv("E:/EntroLLM/data_wide.csv", index_col=0)
df.head(3)

,SEQN,Gender,Age,Race,Education,Married,PIR,BMI,Time1,Time2,...,Time2007,Time2008,Time2009,Time2010,Time2011,Time2012,Time2013,Time2014,Time2015,Time2016
1,21009,1,55,3,3,1,3.79,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21010,2,52,3,4,6,1.24,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,21012,1,63,4,3,6,0.89,0,1,0,...,1,1,0,0,0,1,1,0,0,0

In [4]:
# Initialize placeholders for the entropy values of each day
entropy_day1 = []
entropy_day2 = []
entropy_day3 = []
entropy_day4 = []
entropy_day5 = []
entropy_day6 = []
entropy_day7 = []

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    # Extract step data for each individual
    steps_per_day = [row[f'Time{i}'] for i in range(1, 2017)]
    daily_entropy = []
    for day in range(7):
        # Get steps data for each day (288 min5 per day)
        steps = steps_per_day[day * 288:(day + 1) * 288]
        value, counts = np.unique(steps, return_counts=True)
        probability_distribution = counts / len(steps)
        
        # Calculate Shannon entropy for the day
        shannon_entropy = entropy(probability_distribution, base=2)
        daily_entropy.append(shannon_entropy)
    
    # Append the entropy values for each day
    entropy_day1.append(daily_entropy[0])
    entropy_day2.append(daily_entropy[1])
    entropy_day3.append(daily_entropy[2])
    entropy_day4.append(daily_entropy[3])
    entropy_day5.append(daily_entropy[4])
    entropy_day6.append(daily_entropy[5])
    entropy_day7.append(daily_entropy[6])

# Add the entropy values for each day to the DataFrame
df['Entropy_Day1'] = entropy_day1
df['Entropy_Day2'] = entropy_day2
df['Entropy_Day3'] = entropy_day3
df['Entropy_Day4'] = entropy_day4
df['Entropy_Day5'] = entropy_day5
df['Entropy_Day6'] = entropy_day6
df['Entropy_Day7'] = entropy_day7

df = df[[col for col in df.columns if not col.startswith('Time')]]

df.head(3)

,SEQN,Gender,Age,Race,Education,Married,PIR,BMI,Entropy_Day1,Entropy_Day2,Entropy_Day3,Entropy_Day4,Entropy_Day5,Entropy_Day6,Entropy_Day7
1,21009,1,55,3,3,1,3.79,1,1.342844,1.480084,1.326420,1.541955,1.389004,1.487012,0.931929
2,21010,2,52,3,4,6,1.24,1,1.362239,1.427379,1.361412,1.133347,1.034437,0.901433,1.189155
3,21012,1,63,4,3,6,0.89,0,1.054065,0.896327,0.750003,1.093531,0.656048,0.931027,0.827374

In [5]:
df.to_csv("E:/EntroLLM/data_wide_entropy.csv")
df.head(3)

,SEQN,Gender,Age,Race,Education,Married,PIR,BMI,Entropy_Day1,Entropy_Day2,Entropy_Day3,Entropy_Day4,Entropy_Day5,Entropy_Day6,Entropy_Day7
1,21009,1,55,3,3,1,3.79,1,1.342844,1.480084,1.326420,1.541955,1.389004,1.487012,0.931929
2,21010,2,52,3,4,6,1.24,1,1.362239,1.427379,1.361412,1.133347,1.034437,0.901433,1.189155
3,21012,1,63,4,3,6,0.89,0,1.054065,0.896327,0.750003,1.093531,0.656048,0.931027,0.827374